.navbar {
  display: flex;
  align-items: center;
  position: fixed;
  justify-content: space-between;
  padding: 2px 1px;
  background-color: #ffffff;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  width: 100%;
  left: 0;
  top: 0;
  z-index: 1000;
}

.navbar img {
  height: 30px;
}

.navbar-container {
  list-style: none;
  display: flex;
  gap: 20px;
  height: 50px;
  align-items: center;
}

.nav-link {
  text-decoration: none;
  color: black;
  font-size: 16px;
  font-weight: 500;
  transition: color 0.3s ease;
}

.nav-link:hover {
  color: #007bff;
}

.navbar-right {
  display: flex;
  align-items: center;
  gap: 25px;
}

.navbar-right img {
  height: 20px;
  cursor: pointer;
}


.my-orders-button {
  background: #fffdfd;
  color: #1b00b1;
  border: none;
  cursor: pointer;
  font-size: 16px;
  padding: 8px 12px;
  margin-right: 20px; /* Adjust as needed */
  /* Other existing styles */
  /* Add other styles to match your design */
}
.my-orders-button:hover {
  background: #ffffff;
  border-radius: 5px;
}

button {
  background-color: #062f7c;
  color: white;
  border: none;
  padding: 7px 15px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 15px;
  font-weight: 500;
  transition: background-color 0.3s;
  margin-right: 10px;
}

button:hover {
  background-color: #0056b3;
}

/* New styles for profile section */
.profile-icon-container {
  display: flex;
  align-items: center;
  gap: 25px;
}

.profile-icon {
  width: 20px;
  height: 30px;
  cursor: pointer;
  border-radius: 20%;
}

.profile-icon:hover {
  background-color: #d1cece;
  border-radius: 60%;
}

.logout-button {
  background-color: #ffffff;
  color: #dc3545;
  border: none;
  border-radius: 5px;
  padding: 6px 14px;
  font-size: 16px;
  margin-right: 10px;
  font-weight: 500;
  transition: background-color 0.3s;
}

.logout-button:hover {
  background-color: #d6d0d1;
}